---
import TextH3 from '../../components/text/text-h3.astro'
import TextParagraph from '../../components/text/text-paragraph.astro'
---

<section class="flex w-full flex-col justify-between py-5 lg:flex-row">
  <div class="mb-4 flex flex-col">
    <TextH3 bold>About me</TextH3>
    <TextParagraph>A brief summary</TextParagraph>
  </div>
  <div class="flex max-w-2xl flex-col gap-3">
    <TextParagraph>
      With a strong desire to deliver the best result possible, I demonstrate my habilities with teamwork and
      maintenable code.
    </TextParagraph>
    <TextParagraph>
      Outside of coding, I enjoy staying up-to-date with the latest trends in technology and exploring new tools
      and frameworks. As I'm dedicated to continuous learning, always seeking ways to enhance my skills.
    </TextParagraph>
  </div>
</section>
