---
import TextH1 from '../../components/text/text-h1.astro'
import TextH2 from '../../components/text/text-h2.astro'
import TextParagraph from '../../components/text/text-paragraph.astro'
---

<section class="flex h-fit w-full flex-col justify-center gap-5 py-16 md:h-full md:gap-4">
  <TextH1>Guilherme Lopes</TextH1>
  <TextH2 light>Detail-driven & people focused software developer</TextH2>
  <div class="max-w-2xl">
    <TextParagraph>
      Experienced software developer based in Madrid, Spain, capable of working and exploring frontend and backend.
      Passionate about web accessibility, design systems, and creating seamless user experiences.
    </TextParagraph>
  </div>
</section>
