---
import Divider from '../../components/misc/divider.astro'
import TextH2 from '../../components/text/text-h2.astro'
import TextParagraph from '../../components/text/text-paragraph.astro'
---

<section class="flex w-full flex-col justify-between py-5">
  <div class="mb-4 flex flex-col">
    <TextH2>Recent posts</TextH2>
    <TextParagraph>Recent articles and insights</TextParagraph>
  </div>
  <div class="flex max-w-2xl flex-col gap-3">
    <TextParagraph>
      Stay updated with my latest thoughts on technology, coding, and software development. Here are my most recent
      blog posts.
    </TextParagraph>
    <TextParagraph>
      Whether it's about exploring new frameworks, diving into best practices, or sharing tips on maintaining clean
      code, there's always something new to learn.
    </TextParagraph>
    <section class="flex flex-col gap-5 py-6">
      <div>
        <TextParagraph bold>Do you really want to increase your estimates</TextParagraph>
        <TextParagraph>Learn how to use React during certain scenarios</TextParagraph>
      </div>
      <Divider />
      <div>
        <TextParagraph bold>Using React</TextParagraph>
        <TextParagraph>Learn how to use React during certain scenarios</TextParagraph>
      </div>
    </section>
  </div>
</section>
