---
const { bold, light } = Astro.props
const fontWeightClass = bold ? 'font-bold' : null
---

<h3 class={`scroll-m-20 text-2xl tracking-tight transition-colors first:mt-0 ${fontWeightClass}`}>
  <slot />
</h3>
