---
import ThemeIcon from './theme-icon.astro'
const { current = '' } = Astro.props
---

<header
  class="fixed inset-x-0 z-50 mx-auto flex h-[3rem] w-full justify-center bg-white px-4 py-8 dark:bg-black md:px-12 md:py-8"
>
  <nav class="z-20 flex w-full items-center justify-between font-bold lg:px-0">
    <ul class="flex gap-6 text-base sm:text-lg">
      <li>
        <a class={current === '' ? 'text-primary' : ''} href="/">Guimox</a>
      </li>
      <li>
        <a class={current === 'about' ? 'text-primary' : ''} href="/about">About</a>
      </li>
      <li>
        <a class={current === 'blog' ? 'text-primary' : ''} href="/blog">Blog</a>
      </li>
    </ul>
    <ThemeIcon />
  </nav>
</header>
