---
import TextH1 from '../components/text/text-h1.astro'
import Layout from '../layouts/layout.astro'
---

<Layout title="About Guilherme Lopes - Software Developer">
  <section class="flex w-full flex-col justify-between py-5">
    <TextH1>About</TextH1>
  </section>
</Layout>
