---
import { Icon } from 'astro-icon/components'
---

<footer class="mx-auto mt-20 flex h-[3rem] w-full items-center justify-between px-4 py-8">
  <p id="year" class="flex w-full items-center gap-2 text-start text-sm">
    Simplicity is key <Icon name="mdi:heart" class="text-primary" />
  </p>
  <div class="flex w-fit justify-end gap-3 text-3xl">
    <a href="https://github.com/gxlpes" target="_blank" aria-label="link to open my GitHub">
      <Icon name="mdi:github" class="hover:text-primary cursor-pointer text-4xl transition-all duration-300" />
    </a>
    <a href="https://www.linkedin.com/in/gxlpes" target="_blank" aria-label="link to open my LinkedIn">
      <Icon name="mdi:linkedin" class="hover:text-primary cursor-pointer text-4xl transition-all duration-300" />
    </a>
  </div>
</footer>
