---
const { title } = Astro.props
import '../styles/reset.css'
import '../styles/global.css'
import Footer from '../components/website/footer/footer.astro'
import Header from '../components/website/header/header.astro'

interface Props {
  title: string
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#0000" media="(prefers-color-scheme: dark)" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-full px-4 subpixel-antialiased md:px-12">
    <Header />
    <main class="mt-[2rem] space-y-2 md:space-y-32">
      <slot />
    </main>
    <Footer />
  </body>
</html>
